body {
    background-image: url("https://th.bing.com/th/id/R.e6c8a187450057c670d55d984dc2424a?rik=KtON3g%2bjgFPWpw&riu=http%3a%2f%2fwww.pngmagic.com%2fproduct_images%2fyellow-website-background-images.jpg&ehk=%2fUM8WB7dDwLGsQWOVb2o6wEvVwEVxl5tJfShnSVClX8%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
  }
  
#mainHeading {
      text-shadow:2px 2px 2px rgb(0,217,255);
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 4vw;
  }
  
.backgroundExample {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  
.textSection {
    font-family: "Courier New", Courier, monospace;
  }
  
.textStyle {
     color:#0b86f3;
    font-family: "Times New Roman", serif;
    font-weight: bolder;
    font-size: 30px;
  }
  
  /* img {
    width: 50%;
    height: 20%;
    ;
  } */
span{
    color:hsl(180,29%,97%);
  }
footer{
    background-color:#bc98ff;
    color:rgb(0,0,0);
    text-align:center;
    
  }
